* {
  border-style: solid;
  border-width: 5px;
  border-color: rgba(70, 0, 0, 0);
  text-align: center;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
.float:hover {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: rgb(255, 0, 0);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 9px 11px 0px #999;
  transition: background-color 0.5s;
}

.float-text {
  margin-top: revert;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.float-container {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 100px;
  background-color: #0c9;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
.row {
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  border-color: rgb(255, 255, 255);
}
.container {
  border-radius: 25px;
  background-color: rgba(75, 11, 0, 0.986);
  color: #ffffff;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
 
}



h2 {
  color: #ffffff;
  text-shadow: 2px 2px 2px rgb(148, 148, 148);
  font-size: 150%;
  letter-spacing: 10px;
  text-align: center;
}
#entrada {
  border-radius: 25px;
  background-color: rgba(243, 166, 152, 0.986);
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;

}
#lobby {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  border-radius: 25px;
  background-color: rgb(228, 181, 137);
  
}
#cocinas {
  background-color: rgba(102, 195, 164, 0.774);
  color: #ffffff;
}





#door{
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  border-radius: 25px;
}


#ordenes {
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  border-radius: 25px;
}

.col-2{
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  border-radius: 25px;
}

.people{
  height: auto;
  width: 80px;
}